[Unit]
Description=AIDE File Integrity Check Timer (every 4 hours)

[Timer]
OnCalendar=*-*-* 00/4:00:00
RandomizedDelaySec=1800
Persistent=true
AccuracySec=5m

[Install]
WantedBy=timers.target
